  .effect{
                display:none;
                width:200px;
                position:absolute;
                top:96px;
                left:263px;
                background: black;
                border-radius: 10px;
            }
            .a {
                border-bottom: 1px solid #fff;
                color:#fff;
                height: 52px;
                padding: 13px 20px 5px;
                text-align: center;
                width: 100%;
            }
            .a:hover{
                color:white;
            }
            .effect1{
                display:none;
                width:200px;
                position:absolute;
                top:146px;
                left:263px;
                background: black;
                color:#fff;
                border-radius: 10px;
            }
            .arrow-left {
                position: absolute;
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent; 

                border-right:10px solid black; 
                left:-10px;
            }